#
# See https://docs.microsoft.com/azure/devops/pipelines/yaml-schema for reference.
#

variables:
- template: /eng/common/templates/variables/pool-providers.yml
- name: Build.Repository.Clean
  value: true
- name: _TeamName
  value: AspNetCore
- name: DOTNET_SKIP_FIRST_TIME_EXPERIENCE
  value: true
- name: LogLevel
  value: 'All'
- name: RunIntegrationTests
  value: false
- name: _InternalRuntimeDownloadArgs
  value: ''
- name: Codeql.Enabled
  value: false
- name: Codeql.SkipTaskAutoInjection
  value: true
- name: _IntegrationTestsRunningInCI
  value: true

trigger:
  batch: true
  branches:
    include:
      - main
      - main-vs-deps
      - release/*
      - internal/release/3.*

pr:
  autoCancel: true
  branches:
    include:
      - '*'

stages:
- stage: build
  displayName: Build
  jobs:
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enablePublishBuildArtifacts: false
      enablePublishTestResults: false
      enablePublishUsingPipelines: false
      enableSourcebuild: true
      jobs:
      # Code check
      - job: Code_check
        displayName: Code check
        pool:
          name: $(DncEngPublicBuildPool)
          demands: ImageOverride -equals windows.vs2022preview.amd64.open
        steps:
        - task: NuGetCommand@2
          displayName: 'Clear NuGet caches'
          condition: succeeded()
          inputs:
            command: custom
            arguments: 'locals all -clear'
        - powershell: ./restore.cmd -msbuildEngine dotnet -ci $(_InternalRuntimeDownloadArgs); ./eng/scripts/CodeCheck.ps1 -ci
          displayName: Run eng/scripts/CodeCheck.ps1

  # Windows based jobs. This needs to be separate from Unix based jobs because it generates
  # TRX files. That can only be toggled at the top level template level, not at the individual
  # job.
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enablePublishBuildArtifacts: false
      enablePublishTestResults: true
      enableTelemetry: true
      helixRepo: dotnet/razor
      helixType: build.product/

      jobs:
      - job: Windows
        timeoutInMinutes: 120
        pool:
          name: $(DncEngPublicBuildPool)
          demands: ImageOverride -equals windows.vs2022preview.amd64.open
        strategy:
          matrix:
            debug:
              _BuildConfig: Debug
              _PublishArgs: ''
            release:
              _BuildConfig: Release
              _PublishArgs: ''

        variables:
        - _BuildArgs: ''
        - XUNIT_LOGS: '$(Build.SourcesDirectory)\artifacts\log\$(_BuildConfig)'
        - __VSNeverShowWhatsNew: 1

        steps:
        - task: NuGetCommand@2
          displayName: 'Clear NuGet caches'
          condition: succeeded()
          inputs:
            command: custom
            arguments: 'locals all -clear'

        - powershell: ./eng/scripts/InstallProcDump.ps1
          displayName: Install ProcDump

        - powershell: ./eng/scripts/StartDumpCollectionForHangingBuilds.ps1
            $(ProcDumpPath)procdump.exe artifacts/log/$(_BuildConfig)
            (Get-Date).AddMinutes(60)
            devenv, xunit.console, xunit.console.x86
          displayName: Start background dump collection

        # Don't create a binary log until we can customize the name
        # https://github.com/dotnet/arcade/pull/12988
        - script: eng\cibuild.cmd
            -configuration $(_BuildConfig)
            -msbuildEngine vs
            -prepareMachine
            -restore
            -nobl
          name: Restore
          displayName: Restore
          condition: succeeded()

        - powershell: eng\SetupVSHive.ps1
          displayName: Setup VS Hive

        # We additionally restore during the build because the Microsoft.DotNet.Build.Tasks.Feed package only restores when we pass `-publish`. See https://github.com/dotnet/arcade/blob/37ccfd66358af6a37a0ec385ec31d1d71bdd8723/src/Microsoft.DotNet.Arcade.Sdk/tools/Tools.proj#L61-L66
        - script: eng\cibuild.cmd
            -configuration $(_BuildConfig)
            -msbuildEngine vs
            -prepareMachine
            -restore
            -build
            -pack
            -publish
            -sign
            $(_BuildArgs)
            $(_PublishArgs)
            $(_InternalRuntimeDownloadArgs)
          name: Build
          displayName: Build and Deploy
          condition: succeeded()

        - script: eng\CIBuild.cmd
            -configuration $(_BuildConfig)
            -prepareMachine
            -test
            -nobl
          name: Run_Unit_Tests
          displayName: Run Unit Tests
          condition: and(succeeded(), in(variables['Build.Reason'], 'PullRequest'))

        - script: eng\CIBuild.cmd
            -configuration $(_BuildConfig)
            -prepareMachine
            -integrationTest
          name: Run_Integration_Tests
          displayName: Run Integration Tests
          condition: and(eq(variables['RunIntegrationTests'], true), succeeded(), in(variables['Build.Reason'], 'PullRequest'))

        - powershell: ./eng/scripts/FinishDumpCollectionForHangingBuilds.ps1 artifacts/log/$(_BuildConfig)
          displayName: Finish background dump collection
          continueOnError: true
          condition: always()

        - publish: artifacts/log/$(_BuildConfig)
          artifact: $(Agent.Os)_$(Agent.JobName) Attempt $(System.JobAttempt) Logs
          displayName: Publish Build Artifacts
          condition: always()

        - publish: artifacts/TestResults/$(_BuildConfig)
          artifact: $(Agent.Os)_$(Agent.JobName) Attempt $(System.JobAttempt) TestResults
          displayName: Publish Test Artifacts
          condition: in(variables['Build.Reason'], 'PullRequest')

        # Publish an artifact that the RoslynInsertionTool is able to find by its name.
        - publish: artifacts\VSSetup\$(_BuildConfig)
          artifact: VSSetup
          displayName: Publish VSSetup
          condition: and(succeeded(), eq(variables['system.pullrequest.isfork'], false), eq(variables['_BuildConfig'], 'Release'))

        - publish: artifacts\packages\$(_BuildConfig)
          artifact: Packages_$(Agent.Os)_$(_BuildConfig)
          displayName: Publish package artifacts
          condition: succeeded()

  # Unix jobs done as a group since they share the same test results format.
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enablePublishBuildArtifacts: false
      enablePublishTestResults: true
      enableTelemetry: true
      testResultsFormat: xunit
      helixRepo: dotnet/razor
      helixType: build.product/
      jobs:
      - job: macOS
        pool:
          vmImage: macOS-14
        strategy:
            matrix:
              release:
                _BuildConfig: Release
              debug:
                _BuildConfig: Debug

        variables:
        - _BuildArgs: ''

        steps:
        - script: eng/cibuild.sh
            --restore
            --build
            --pack
            --configuration $(_BuildConfig)
            --prepareMachine
            --test
            $(_BuildArgs)
            $(_InternalRuntimeDownloadArgs)
          name: Build
          displayName: Restore, Build and Test
          condition: succeeded()

        - publish: artifacts/log/$(_BuildConfig)
          artifact: $(Agent.Os)_$(Agent.JobName) Attempt $(System.JobAttempt) Logs
          displayName: Publish Build Artifacts
          condition: always()

        - publish: artifacts/TestResults/$(_BuildConfig)
          artifact: $(Agent.Os)_$(Agent.JobName) Attempt $(System.JobAttempt) TestResults
          displayName: Publish Test Results
          condition: always()

      - job: Linux
        container:
          image: mcr.microsoft.com/dotnet-buildtools/prereqs:cbl-mariner-2.0
          options: --init # This ensures all the stray defunct processes are reaped.
        pool:
          name: NetCore-Public
          demands: ImageOverride -equals Build.Ubuntu.2204.Amd64.Open

        strategy:
          matrix:
            release:
              _BuildConfig: Release
            debug:
              _BuildConfig: Debug

        variables:
        - LC_ALL: 'en_US.UTF-8'
        - LANG: 'en_US.UTF-8'
        - LANGUAGE: 'en_US.UTF-8'
        - _BuildArgs: ''

        steps:
        - script: eng/cibuild.sh
            --restore
            --build
            --pack
            --configuration $(_BuildConfig)
            --prepareMachine
            --test
            $(_BuildArgs)
            $(_InternalRuntimeDownloadArgs)
          name: Build
          displayName: Restore, Build and Test
          condition: succeeded()

        - publish: artifacts/log/$(_BuildConfig)
          artifact: $(Agent.Os)_$(Agent.JobName) Attempt $(System.JobAttempt) Logs
          displayName: Publish Build Artifacts
          condition: always()

        - publish: artifacts/TestResults/$(_BuildConfig)/
          artifact: $(Agent.Os)_$(Agent.JobName) Attempt $(System.JobAttempt) TestResults
          displayName: Publish Test Results
          condition: always()

  # VS Code Integration Tests - runs Playwright E2E tests against VS Code on all platforms
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enablePublishBuildArtifacts: false
      enablePublishTestResults: true
      enableTelemetry: true
      helixRepo: dotnet/razor
      helixType: build.product/
      jobs:
      - job: VSCode_Integration_Windows
        displayName: VS Code Integration Tests (Windows)
        timeoutInMinutes: 60
        pool:
          name: $(DncEngPublicBuildPool)
          demands: ImageOverride -equals windows.vs2022preview.amd64.open
        variables:
        - _BuildConfig: Release
        steps:
        - script: eng\cibuild.cmd
            -configuration $(_BuildConfig)
            -prepareMachine
            -restore
            -build
          displayName: Restore and Build

        - pwsh: |
            $env:RAZOR_TEST_CONFIGURATION = "$(_BuildConfig)"
            dotnet test src/Razor/test/Microsoft.VisualStudioCode.Razor.IntegrationTests/Microsoft.VisualStudioCode.Razor.IntegrationTests.csproj --configuration $(_BuildConfig) --logger trx --results-directory $(Build.SourcesDirectory)/artifacts/TestResults/$(_BuildConfig)
          displayName: Run VS Code Integration Tests

        - publish: artifacts/log/$(_BuildConfig)
          artifact: VSCode_Windows Attempt $(System.JobAttempt) Logs
          displayName: Publish Logs
          condition: always()

        - publish: artifacts/TestResults/$(_BuildConfig)
          artifact: VSCode_Windows Attempt $(System.JobAttempt) TestResults
          displayName: Publish Test Results
          condition: always()

        - powershell: |
            if (-not (Test-Path '.vscode-test/screenshots')) {
              New-Item -ItemType Directory -Path '.vscode-test/screenshots' -Force
              Write-Host "Created empty screenshots directory"
            }
          displayName: Ensure Screenshots Directory Exists
          condition: always()

        - publish: .vscode-test/screenshots
          artifact: VSCode_Windows Attempt $(System.JobAttempt) Screenshots
          displayName: Publish Screenshots
          condition: always()
          continueOnError: true

        - powershell: |
            if (-not (Test-Path '.vscode-test/failure-logs')) {
              New-Item -ItemType Directory -Path '.vscode-test/failure-logs' -Force
              Write-Host "Created empty failure-logs directory"
            } else {
              Write-Host "Failure logs collected:"
              Get-ChildItem -Path '.vscode-test/failure-logs' -Recurse -Directory | ForEach-Object {
                Write-Host "  $($_.Name)"
              }
            }
          displayName: Ensure Failure Logs Directory Exists
          condition: always()

        - publish: .vscode-test/failure-logs
          artifact: VSCode_Windows Attempt $(System.JobAttempt) FailureLogs
          displayName: Publish Failure Logs
          condition: always()
          continueOnError: true

      - job: VSCode_Integration_macOS
        displayName: VS Code Integration Tests (macOS)
        timeoutInMinutes: 60
        pool:
          vmImage: macOS-14
        variables:
        - _BuildConfig: Release
        steps:
        - script: eng/cibuild.sh
            --configuration $(_BuildConfig)
            --prepareMachine
            --restore
            --build
          displayName: Restore and Build

        - bash: |
            export RAZOR_TEST_CONFIGURATION="$(_BuildConfig)"
            dotnet test src/Razor/test/Microsoft.VisualStudioCode.Razor.IntegrationTests/Microsoft.VisualStudioCode.Razor.IntegrationTests.csproj --configuration $(_BuildConfig) --logger trx --results-directory $(Build.SourcesDirectory)/artifacts/TestResults/$(_BuildConfig)
          displayName: Run VS Code Integration Tests

        - publish: artifacts/log/$(_BuildConfig)
          artifact: VSCode_macOS Attempt $(System.JobAttempt) Logs
          displayName: Publish Logs
          condition: always()

        - publish: artifacts/TestResults/$(_BuildConfig)
          artifact: VSCode_macOS Attempt $(System.JobAttempt) TestResults
          displayName: Publish Test Results
          condition: always()

        - bash: |
            mkdir -p .vscode-test/screenshots
            echo "Ensured screenshots directory exists"
          displayName: Ensure Screenshots Directory Exists
          condition: always()

        - publish: .vscode-test/screenshots
          artifact: VSCode_macOS Attempt $(System.JobAttempt) Screenshots
          displayName: Publish Screenshots
          condition: always()
          continueOnError: true

        - bash: |
            if [ ! -d ".vscode-test/failure-logs" ]; then
              mkdir -p .vscode-test/failure-logs
              echo "Created empty failure-logs directory"
            else
              echo "Failure logs collected:"
              find .vscode-test/failure-logs -type d -mindepth 1 -maxdepth 1 -exec basename {} \;
            fi
          displayName: Ensure Failure Logs Directory Exists
          condition: always()

        - publish: .vscode-test/failure-logs
          artifact: VSCode_macOS Attempt $(System.JobAttempt) FailureLogs
          displayName: Publish Failure Logs
          condition: always()
          continueOnError: true

      - job: VSCode_Integration_Linux
        displayName: VS Code Integration Tests (Linux)
        timeoutInMinutes: 60
        pool:
          name: NetCore-Public
          demands: ImageOverride -equals Build.Ubuntu.2204.Amd64.Open
        variables:
        - _BuildConfig: Release
        steps:
        - script: eng/cibuild.sh
            --configuration $(_BuildConfig)
            --prepareMachine
            --restore
            --build
          displayName: Restore and Build

        - bash: |
            sudo apt-get update
            sudo apt-get install -y xvfb libgbm1 libasound2
          displayName: Install VS Code dependencies

        - bash: |
            export RAZOR_TEST_CONFIGURATION="$(_BuildConfig)"
            export DISPLAY=:99
            # Start Xvfb with proper screen configuration for VS Code
            echo "Starting Xvfb..."
            Xvfb :99 -screen 0 1920x1080x24 &
            sleep 3
            echo "Xvfb started, DISPLAY=$DISPLAY"
            # Verify Xvfb is running
            if ! pgrep -x Xvfb > /dev/null; then
              echo "ERROR: Xvfb failed to start"
              exit 1
            fi
            echo "Running tests..."
            dotnet test src/Razor/test/Microsoft.VisualStudioCode.Razor.IntegrationTests/Microsoft.VisualStudioCode.Razor.IntegrationTests.csproj --configuration $(_BuildConfig) --logger trx --results-directory $(Build.SourcesDirectory)/artifacts/TestResults/$(_BuildConfig)
          displayName: Run VS Code Integration Tests

        - publish: artifacts/log/$(_BuildConfig)
          artifact: VSCode_Linux Attempt $(System.JobAttempt) Logs
          displayName: Publish Logs
          condition: always()

        - publish: artifacts/TestResults/$(_BuildConfig)
          artifact: VSCode_Linux Attempt $(System.JobAttempt) TestResults
          displayName: Publish Test Results
          condition: always()

        - bash: |
            mkdir -p .vscode-test/screenshots
            echo "Ensured screenshots directory exists"
          displayName: Ensure Screenshots Directory Exists
          condition: always()

        - publish: .vscode-test/screenshots
          artifact: VSCode_Linux Attempt $(System.JobAttempt) Screenshots
          displayName: Publish Screenshots
          condition: always()
          continueOnError: true

        - bash: |
            if [ ! -d ".vscode-test/failure-logs" ]; then
              mkdir -p .vscode-test/failure-logs
              echo "Created empty failure-logs directory"
            else
              echo "Failure logs collected:"
              find .vscode-test/failure-logs -type d -mindepth 1 -maxdepth 1 -exec basename {} \;
            fi
          displayName: Ensure Failure Logs Directory Exists
          condition: always()

        - publish: .vscode-test/failure-logs
          artifact: VSCode_Linux Attempt $(System.JobAttempt) FailureLogs
          displayName: Publish Failure Logs
          condition: always()
          continueOnError: true
