@using SimpleMvc21
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, SimpleMvc21

@{
    ViewData["Title"] = "About";
    <simple></simple>
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<simple></simple>
<text></text>

<text></text>